%action_button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 var(--kubik-interface-space-400);
  height: 100%;
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 700;
  color: var(--kubik-interface-color-brand-400);
  background: var(--kubik-interface-color-white);
  text-decoration: none;
  border-left: .1em solid var(--kubik-interface-color-grey-200);
  cursor: pointer;
  white-space: pre;
  transition: .2s;
  &:hover {
    background: var(--kubik-interface-color-grey-100);
  }
}


%button {
  box-sizing: border-box;
  display: inline-block;
  padding: .75rem 1.25rem;
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 700;
  color: var(--kubik-interface-color-white);
  background: var(--kubik-interface-color-brand-400);
  text-decoration: none;
  line-height: 1;
  border: 2px solid var(--kubik-interface-color-brand-400);
  border-radius: .25rem;
  cursor: pointer;
  transition: .2s;
  &:hover {
    color: var(--kubik-interface-color-white);
    background: var(--kubik-interface-color-brand-500);
    border-color: var(--kubik-interface-color-brand-500);
  }
}

%button-secondary {
  @extend %button;
  background-color: transparent;
  color: var(--kubik-interface-color-brand-400);
  &:hover {
    background-color: var(--kubik-interface-color-brand-400);
    border-color: var(--kubik-interface-color-brand-400);
    color: white;
  }
}

@mixin button {
  box-sizing: border-box;
  display: inline-block;
  padding: .75rem 1.25rem;
  height: var(--kubik-interface-space-800);
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  color: var(--kubik-interface-color-brand-400);
  background: var(--kubik-interface-color-white);
  text-decoration: none;
  border: 2px solid var(--kubik-interface-color-brand-400);
  border-radius: var(--kubik-interface-radius-100);
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: var(--kubik-interface-color-white);
    background: var(--kubik-interface-color-brand-400);
  }

}

%add-nested-button {
  display: flex;
  align-items: center;
  background: transparent;
  font-size: var(--kubik-interface-font-size-small);
  color: var(--kubik-interface-color-brand-400);
  padding: 0;
  height: auto;
  border: 0;
  font-weight: 700;
  &:before {
    content: "+";
    display: inline-block;
    margin-right: .25rem;
  }
  &:hover {
    background: transparent;
  }
}

%remove-nested-button {
  color: var(--kubik-interface-color-grey-500);
  font-size: var(--kubik-interface-font-size-small);
  font-family: var(--kubik-interface-base-font-family);
  background-color: transparent;
  padding: 0;
  height: auto;
  border: 0;
  font-weight: 700;
  &:before {
    content: "-";
    display: inline-block;
    margin-right: .25rem;
  }
  &:hover {
    background: transparent;
  }
}

%small_button {
  @extend %button;
  padding: var(--kubik-interface-space-100) var(--kubik-interface-space-200);
  height: var(--kubik-interface-space-750);
  font-size: var(--kubik-interface-font-size-small);
}

%action-button-alt {
  display: inline-block;
  cursor: pointer;
  padding: var(--kubik-interface-space-100) var(--kubik-interface-space-350);
  border: none;
  border-radius: var(--kubik-interface-radius-200);
  color: var(--kubik-interface-color-white);
  background: var(--kubik-interface-color-brand-500);
  text-decoration: none;
  transition: .4s;
  &:hover {
    background: var(--kubik-interface-color-white);
    color: var(--kubik-interface-color-brand-500);
  }
}

.button {
  @extend %button;
  &.small {
    @extend %small_button;
  }
}
