%filter_label {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  color: var(--kubik-interface-color-white);
}

%filter_dropdown {
  box-sizing: border-box;
  display: inline-block;
  padding: var(--kubik-interface-space-075) var(--kubik-interface-space-200);
  height: var(--kubik-interface-space-750);
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  color: var(--kubik-interface-color-white);
  border: 1px solid var(--kubik-interface-color-white);
  border-radius: var(--kubik-interface-radius-100);
  transition: .4s;
}

%filter_field {
  box-sizing: border-box;
  display: inline-block;
  padding: var(--kubik-interface-space-075) var(--kubik-interface-space-200);
  height: var(--kubik-interface-space-750);
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  color: var(--kubik-interface-color-grey-400);
  background: var(--kubik-interface-color-white);
  border: 2px solid var(--kubik-interface-color-white);
  border-radius: var(--kubik-interface-radius-100);

  &:focus {
    outline: none;
    color: var(--kubik-interface-color-grey-600);
    border-color: var(--kubik-interface-color-brand-500);
  }
}

