@import '../base/_fonts.scss';

%fieldset {
  border: 0;
  padding: 0;
  margin: .9rem 1.75rem;
  min-width: 0;
  background: white;
  body:not(:-moz-handler-blocked) & {
    display: table-cell;
  }
}

%label {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  color: var(--kubik-interface-color-brand-400);
  font-weight: 700;
  abbr {
    text-decoration: none;
  }
}

%hint {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  margin-top: .15rem;
  margin-bottom: .15rem;
  color: var(--kubik-interface-color-grey-400);
}

%form-error-message {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  margin-top: .15rem;
  margin-bottom: .15rem;
  color: var(--kubik-interface-color-alert);
}

%field_base {
  padding: .85rem .65rem;
  border: 1px solid transparent;
  border-radius: .2rem;
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 600;
  outline-color: var(--kubik-interface-color-brand-400);
  background-color: var(--kubik-interface-color-grey-100);
}

%text_field {
  @extend %field_base;
  width: 100%;
}

%textarea {
  @extend %field_base;
  width: 100%;
  height: 8rem;
  resize: none;
}

%select_field {
  @extend %field_base;
  width: 100%;
  border-right: 1rem solid transparent;
}


%checkbox {
  @extend %field_base;
  padding-bottom: .6rem;
  display: flex;
  flex-direction: row;
  max-width: 21rem;
  align-items: initial;
  margin-bottom: .3rem;
}

%checkbox-white {
  @extend %checkbox;
  background: white;
}

%checkbox-input {
  margin: 0;
  margin-right: .3rem;
  &:checked {
    accent-color: var(--kubik-interface-color-brand-400);
  }
}
