%admin_text_view_field {
  box-sizing: border-box;
  padding: var(--kubik-interface-space-100);
  height: var(--kubik-interface-space-700);
  margin: 0;
  font-size: var(--kubik-interface-base-font-size);
  font-weight: 700;
  color: var(--kubik-interface-color-grey-500);
}
%admin_text_input_field {
  box-sizing: border-box;
  padding: var(--kubik-interface-space-100);
  height: var(--kubik-interface-space-800);
  margin: 0;
  font-size: var(--kubik-interface-base-font-size);
  font-weight: 700;
  color: var(--kubik-interface-color-grey-700);
  background: var(--kubik-interface-color-grey-100);
  border: none;
  border-bottom: 1px solid var(--kubik-interface-color-grey-200);
  transition: .2s;
  &:focus {
    outline: none;
    background: rgba(var(--kubik-interface-color-brand-400),.1);
    border-color: var(--kubik-interface-color-brand-400);
  }
  &:hover {
    border-color: var(--kubik-interface-color-brand-400);
  }

  &:hover,
  &:focus {
    &:read-only {
      border-color: var(--kubik-interface-color-grey-100);
    }
  }

  &:read-only {
    background-color: var(--kubik-interface-color-brand-400);
    color: var(--kubik-interface-color-white);
    font-weight: 500;
  }
}
%text_input_field {
  box-sizing: border-box;
  padding: var(--kubik-interface-space-100) var(--kubik-interface-space-300);
  height: var(--kubik-interface-space-700);
  font-size: var(--kubik-interface-base-font-size);
  font-weight: 700;
  color: var(--kubik-interface-color-grey-700);
  background: var(--kubik-interface-color-white);
  border: 1px solid var(--kubik-interface-color-grey-200);
  border-radius: var(--kubik-interface-radius-100);
  transition: .2s;

  &:hover {
    border-color: var(--kubik-interface-color-brand-400);
  }
}
@mixin text_input_field {
  box-sizing: border-box;
  padding: var(--kubik-interface-space-100) var(--kubik-interface-space-300);
  height: var(--kubik-interface-space-700);
  font-size: var(--kubik-interface-base-font-size);
  font-weight: 700;
  color: var(--kubik-interface-color-grey-700);
  background: var(--kubik-interface-color-white);
  border: 1px solid var(--kubik-interface-color-grey-200);
  border-radius: var(--kubik-interface-radius-100);
  transition: .2s;

  &:hover {
    border-color: var(--kubik-interface-color-brand-400);
  }
}
