@import '../base/fonts.scss';
@import '../elements/links.scss';
%pagination {
  .pagination_information, .download_links {
    @extend .para_small_style;
    display: inline-block;
    a { @extend %general_link; }
  }
  .pagination_information, .download_links span {
    padding-left: 1em;
    color: var(--kubik-interface-color-grey-400);
  }
  .pagination_information { padding-left: var(--kubik-interface-space-350); }
  .download_links span { padding-left: var(--kubik-interface-space-100); }
  .download_links {
    &:before {
      content: '|';
      padding: 0 var(--kubik-interface-space-100);
    }
  }
  .pagination {
    @extend .para_small_style;
    margin-bottom: var(--kubik-interface-space-100); padding-left: var(--kubik-interface-space-350);
    .page {
      color: var(--kubik-interface-color-brand-400);
      margin-right: var(--kubik-interface-space-050);
      &.current {
        display: inline-block; padding: .5em .75em;
        background: var(--kubik-interface-color-brand-400);
        color: var(--kubik-interface-color-white);
      }
      a {
        display: inline-block;
        padding: var(--kubik-interface-space-100) var(--kubik-interface-space-300);
        text-decoration: none;
        color: inherit;
        background: var(--kubik-interface-color-white);
      }
    }
    .next a, .last a, .prev a, .first a {
      @extend %general_link;
    }
  }
}
