@import '../../elements/_links.scss';
#index_footer {
  @extend .para_small_style;
  padding: 1em 0;
  background-color: var(--kubik-interface-color-grey-100);
}

#footer {
  padding: 1em;
  p {
    @extend .para_small;
    margin: 0;
  }
  a { @extend %general_link; }
}
