.nav_header {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-base-font-size);
  line-height: 1.2;
  font-weight: 400;
  color: var(--kubik-interface-color-white);
}
