.active_admin .formtastic {
  .check_boxes {
    .choices-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .choice {
        flex: 1 1 21rem;
        margin-right: 1rem;
      }
    }
  }
}
