@import '../../elements/_links.scss';
@import '../../elements/_tabs.scss';
#active_admin_content {
  .table_tools {
    .scopes {
      border-top: 1px solid var(--kubik-interface-color-grey-200);
      border-bottom: 1px solid var(--kubik-interface-color-grey-200);
      > ul { @extend %slickr_tabs; }
      .scope {
        a { @extend %slickr_tab; }
        &.selected a { @extend %slickr_active_tab; }
      }
      .table_tools_segmented_control {
        margin: 0;
        list-style: none;
      }
      @media screen and (min-width: 75em) {
        border-top: 0;
      }
    }
  }
}
