@import '../elements/_forms.scss';
@import '../elements/_inputs.scss';
@import '../elements/_links.scss';
@import '../elements/_labels.scss';
@import '../elements/_tables.scss';
.active_admin {
  .panel:not(.comments) {
    padding: 2rem 0;
    > h3 {
      margin-top: 0;
      padding: 0 var(--kubik-interface-space-400);
      font-size: var(--kubik-interface-base-font-size);
      font-weight: 700;
    }

    .kubik_panel_table {
      @extend %panel_table;
      tr {
        @extend %panel_table_row;
      }
    }
  }
  &.show .panel:not(.comments) {
    > h3 { padding-left: 1.75rem; }
  }
}
