#active_admin_content {
  .table_tools {
    .scopes {

      > ul { @extend %slickr_tabs; }

      .scope {
        a { @extend %slickr_tab; }

        &.selected a { @extend %slickr_active_tab; }
      }

      .table_tools_segmented_control {
        margin: 0;
        list-style: none;
      }

      @media screen and (min-width: 75em) {
        border-top: 1px solid var(--kubik-interface-color-grey-200);
      }
    }
  }
}
