.active_admin #title_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  z-index: 2;
  #titlebar_left {
    flex: 1 1 100%;
    align-items: center;
    display: flex;
    height: 3.75em;
    padding-left: var(--kubik-interface-space-400);
    border-bottom: 1px solid var(--kubik-interface-color-grey-200);
  }
  #titlebar_right {
    flex: 0 0 100%;
    justify-self: flex-end;

    display: flex;
    justify-content: space-evenly;

    height: 3.75em;

    border-bottom: 1px solid var(--kubik-interface-color-grey-200);
    @media screen and (min-width: 75em) {
      flex: 0 0 auto;
      justify-content: flex-end;
      border: 0;
    }
  }
}
@media screen and (min-width: 75em) {
  .active_admin #title_bar {
    flex-wrap: nowrap;
    box-shadow: 0px 2px 0px #0000001d;
    #titlebar_left {
      border-bottom: none;
    }
    #titlebar_right {
      flex: 1 1 12rem;
    }
  }
}
