.logged_in {
  #wrapper {
    display: grid;
    grid-template-columns: 18em 1fr;
    grid-template-rows: auto 1fr 50px;
    min-height: 100vh;

    &.minimise_header {
      grid-template-columns: 3em 1fr;
    }

    #header {
      grid-column: 1/2;
      grid-row: 1/4;
      align-self: stretch;

      #utility_nav { order: 1; }

      #tabs { order: 2; }
    }

    #title_bar {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    #active_admin_content {
      background: var(--kubik-interface-color-grey-100);
      grid-column: 2/3;
      grid-row: 2/3;
      #main_content_wrapper {
        flex: 1 1 auto;
        #main_content { width: 100%; }
      }


      &.with_sidebar {
        display: flex;
        flex-direction: column;
        &.sidebar-reversed {
          flex-direction: column-reverse;
        }
        @media screen and (min-width: 75em) {
          flex-direction: row;
        }

        #main_content_wrapper {
          flex: 1 1 auto;
        }
        #sidebar {
          display: flex;
          width: 100%;
          h3 { padding: 0; }
          .sidebar_section {
            flex: 1;
            padding: 2rem 1rem;
            @media screen and (min-width: 75em) {
              padding: 2rem 1rem;
            }
          }
          @media screen and (min-width: 75em) {
            width: clamp(23rem, 25vw, 450px);
          }
        }
      }
    }

    #footer {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
}
