html, body {
  width: 100%; height: auto; margin: 0px; padding: 0px;
}

html {
  position: absolute;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--kubik-interface-base-font-family);
}

a { text-decoration: none; }

*, *:before, *:after {
  box-sizing: inherit;
}

.svg-icon {
  width: var(--kubik-interface-space-400);
  height: var(--kubik-interface-space-400);
  display: inline-block;
  fill: var(--kubik-interface-color-brand-400);
}
