@function url-friendly-colour($colour) {
  @return '#' + str-slice('#{$colour}', 2, -1)
}

$brand-color: #469CFF;

:root {
  // Fonts
  --kubik-interface-base-font-family: 'Lato', sans-serif;
  --kubik-interface-base-font-size: 16px;
  --kubik-interface-font-size-small: .875rem;
  --kubik-interface-font-size-smaller: .6875rem;
  // Colors
  --kubik-interface-color-grey-100: #f2f2f2;
  --kubik-interface-color-grey-200: #e6e6e6;
  --kubik-interface-color-grey-300: #cccccc;
  --kubik-interface-color-grey-400: #b3b3b3;
  --kubik-interface-color-grey-500: #808080;
  --kubik-interface-color-grey-600: #999999;
  --kubik-interface-color-grey-700: #333333;
  --kubik-interface-color-alert: #E26D5C;
  --kubik-interface-color-notice: #98C168;
  --kubik-interface-color-white: #ffffff;
  --kubik-interface-color-black: #1a1a1a;
  --kubik-interface-color-header: #333333;

  --kubik-interface-color-brand-050: #{transparentize($brand-color, 0.9)};
  --kubik-interface-color-brand-100: #{lighten($brand-color, 25%)};
  --kubik-interface-color-brand-200: #{lighten($brand-color, 20%)};
  --kubik-interface-color-brand-300: #{lighten($brand-color, 10%)};
  --kubik-interface-color-brand-400: #{$brand-color};
  --kubik-interface-color-brand-500: #{darken($brand-color, 10%)};
  --kubik-interface-color-brand-600: #{darken($brand-color, 20%)};
  // Breakpoints
  --kubik-interface-media-width-medium: 48em;
  --kubik-interface-media-width-large: 75em;
  --kubik-interface-media-width-xlarge: 100em;
  // Radiuses
  --kubik-interface-radius-100: .1875rem;
  --kubik-interface-radius-200: .25rem;
  // Spaces
  --kubik-interface-space-010: .15rem; // 3px
  --kubik-interface-space-050: .25rem; // 3px
  --kubik-interface-space-075: .375rem; // 6px
  --kubik-interface-space-100: .5rem; // 8px
  --kubik-interface-space-200: .625rem; //10px
  --kubik-interface-space-300: .75rem; // 12px
  --kubik-interface-space-350: 1rem; // 12px
  --kubik-interface-space-400: 1.2rem;
  --kubik-interface-space-500: 1.875rem;
  --kubik-interface-space-700: 2rem;
  --kubik-interface-space-750: 2.125rem;
  --kubik-interface-space-800: 2.5rem;
  --kubik-interface-space-900: 3rem;
  --kubik-interface-space-1000: 4rem;
}
