@import '../../elements/_containers.scss';
@import '../../elements/_links.scss';
@import '../../elements/_buttons.scss';
@import '../../elements/_buttons.scss';
@import '../../elements/_filters.scss';

#filters_sidebar_section {
  @extend %brand_container;
  h3 { display: none; }
  background: var(--kubik-interface-color-grey-100);
}
.clear_filters_btn {
  @extend %tab_link;
  text-decoration: none;
  transition: .2s;
  &:hover {
    color: white;
  }


}
#search-status-_sidebar_section {
  //display: none;
}
.logged_in.index #wrapper #active_admin_content.with_sidebar #sidebar.sidebar {
 //display: none;
}
.filter_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  .buttons {
    flex: 0 0 100%;
    padding: .5em 0;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;


    input[type="submit"] {
      @extend %small_button;
      padding: 8px 12px; margin-right: 1em;
      color: white; border: none; background: var(--kubik-interface-color-brand-500);
      &:hover {
        background: var(--kubik-interface-color-brand-600);
      }
      &:before {
        content: ' ';
        display: inline-block; width: 20px; height: 20px; margin-right: .25em;
        background: image-url('svgs/tick.svg') no-repeat;
      }
    }
  }

  .input {
    display: block;
    padding: 0.5em 0;
    align-items: center;
    flex: 1 1 calc(50% - 12rem);
    flex-wrap: wrap;
    min-width: 25rem;
    max-width: 35rem;

    select + input {
      margin-bottom: 0.5em;
    }

    label {
      flex: 0 0 7em;
      @extend %filter_label;
      margin-bottom: 0.5em;
      white-space: pre-wrap;
      color: var(--kubik-interface-color-brand-400);
      font-weight: 700;
      width: 500px;
      display: inline-block;
    }
    & > select {
      @extend %filter_dropdown;
      flex: 1 1 49%;
      margin-right: 0.3em;
      width: 14em;
      margin-bottom: 0.5em;
      cursor: pointer;
      background: var(--kubik-interface-color-white);
      color: var(--kubik-interface-color--black);
      height: 3em;
    }

    #q_featured{
      width: 28.5em;
    }


    input {
      flex: 1 1 50%;
      @extend %filter_field;
      width: 14em;
      height: 3em;


      &.datepicker {
        margin: 0;
        border: none;
        @extend %filter_dropdown;
        cursor: pointer;
        background: var(--kubik-interface-color-white);
        color: var(--kubik-interface-color--black);
        height: 3em;

        &:focus {
          border-color: white;
          color: white;
        }
      }
    }
    input::placeholder {
      color: black;
    }
  }
}
