.active_admin .index_as_blog {
  > div:not(.resource_selection_toggle_panel) {
    background: var(--kubik-interface-color-white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--kubik-interface-color-grey-200);
    .resource_selection_cell {
      padding: .5rem;
    }
    h3 {
      @include kubik-value;
      margin: 0;
      a {
        color: var(--kubik-interface-color-brand-400);
      }
    }
    .content {
      @include kubik-value;
      flex: 0 0 calc(100% - 2.25rem);
      margin-left: 2.25rem;
      padding-bottom: .5rem;
      padding-right: 2.25rem;
    }
  }
  .resource_selection_toggle_panel {
    padding: .5rem;
    label {
      @include kubik-label;
    }
  }
}
