.active_admin .index_as_grid {
  .index_grid {
    width: 100%;
    border-collapse: collapse;

    tr {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    td {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      border: 1px solid var(--kubik-interface-color-grey-200);
      background-color: var(--kubik-interface-color-white);


      a {
        display: block;
      }
    }
  }

  .resource_selection_toggle_panel {
    padding: .5rem;

    label {
      @extend %kubik-label;
    }
  }
}
