@import '../../elements/_buttons.scss';
@import '../../elements/_forms.scss';
@import '../../elements/_inputs.scss';
@import '../../elements/_labels.scss';
@import '../../elements/_tables.scss';
.active_admin .formtastic {
  legend {
    @extend %kubik-legend;
    padding: 1.25rem;
    display: table;
    width: 100%;
    background: white;
    border: 1px solid var(--kubik-interface-color-grey-200);
    border-bottom: 0;
    &.label {
      border: 0;
    }
  }
  fieldset {
    @extend %fieldset;
    margin: 0.9rem 1rem;
    &.actions {
      background-color: transparent;
      border: 0;
      ol {
        display: flex;
        align-items: center;
        border: 0;
        padding: .9rem 0;
      }
      input[type='submit'] {
        @extend %button;
        margin-right: 1rem;
      }
      .cancel a {
        @extend %kubik-label;
      }
    }
  }
  // Radio buttons
  .choices {
    margin: 0;
    .label { padding: 0; }
    .choices-group {
      padding: 0;
      border: 0;
    }
    .choice {
      @extend %checkbox;
      input {
        @extend %checkbox-input;
      }
      & > *:not(input) {
        flex: 1;
        display: inline-block;
      }

    }
  }
  .check_boxes {
    .choices-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      .choice {
        flex: 1 1 21rem;
        margin-right: 1rem;
      }
    }
  }
  // date select
  .fragments {
    margin: 0;
    .fragments-group {
      display: flex;
      flex-direction: row;
      padding: 0;
      border: 0;
      .fragment {
        display: flex;
        flex-direction: column;
        margin-right: 1px;
        label {
          @extend %panel_table_header;
        }
        select {
          @extend %select_field;
        }
      }
    }
    .label {
      padding: 0;
    }
  }
  ol {
    margin: 0;
    padding: .9rem 0 0;
    list-style: none;
    border: 1px solid var(--kubik-interface-color-grey-200);
  }
  .input {
    padding: 0 1.25rem .9rem;
    &.error {
      select, input[type='text'],
      input[type='email'], input[type='password'],
      input[type='number'] {
        border-color: var(--kubik-interface-color-alert);
      }
    }
    .label {
      @extend %label;
      display: block;
      margin-bottom: .25rem;
    }
    &.boolean {
      label { @extend %checkbox; }
      input { @extend %checkbox-input; }
    }
    &.datepicker input {
      @extend %text_field;
      width: auto;
    }
    &.select {
      select {
        @extend %select_field;
      }
    }
    &.hidden { display: none; }
    &.text textarea { @extend %textarea; }
    &.string input, &.email input, &.password input { @extend %text_field; }
    .inline-errors { @extend %form-error-message; }
    .inline-hints { @extend %hint; }
  }
}

.active_admin .formtastic {
  .tabs + fieldset.actions {
    background: var(--kubik-interface-color-grey-100);
    ol {
      padding: 0;
      border: 0;
    }
  }
}
