#index_footer {
  @extend %para--small;
  padding: 1em 0;
  background-color: var(--kubik-interface-color-grey-100);
}

#footer {
  padding: 1em;
  p {
    @extend %para--small;
    margin: 0;
  }
  a { @extend %general_link; }
}
