.active_admin #header {
  display: flex;
  flex-direction: column;

  padding: .5em 0;
  background: var(--kubik-interface-color-header);

  .header-item { list-style: none; }
  .kubik_header_toggle {
    @extend %open-close-icon;
    align-self: flex-end;
    display: inline-block;
    position: absolute;
    margin: 0 0.5rem 0 0;
    width: 2rem;
    height: 2rem;

    &:hover { cursor: pointer; }
  }
  #site_title {
    order: 0;
    padding: 0 1.5rem;
    justify-self: center;
    max-width: 70%;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    color: var(--kubik-interface-color-white);
    img { margin-bottom: 1em; width: 100%; }
  }
}
